@{
    ViewBag.Title = "Акции";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="b-bs">
  <table class="b-bs__table">
    <tr class="b-ts__trade-item b-ts__trade-item_type_stock">
      <td class="b-ts__icon"><img width="30px" height="30px" src="../../Content/Stylesheets/%d0%a1%d0%b5%d1%80%d1%82%d0%b8%d1%84%d0%b8%d0%ba%d0%b0%d1%82.jpg" alt="Сертификат" /></td>
      <td class="b-ts_description">Описание акции</td>
      <td class="b-ts__actions-wrapper"><a class="b-bs_action b-bs_action_type_buy" href="#" title="купить">Купить</a></td>
    </tr>

    <tr class="b-ts__trade-item b-ts__trade-item_type_microphone">
      <td class="b-ts__icon"><img width="30px" height="30px" src="../../Content/Stylesheets/%d0%a1%d0%b5%d1%80%d1%82%d0%b8%d1%84%d0%b8%d0%ba%d0%b0%d1%82.jpg" alt="Сертификат" /></td>
      <td class="b-ts_description">Описание микронаушника</td>
      <td class="b-ts__actions-wrapper"><a class="b-bs_action b-bs_action_type_buy" href="#" title="купить">Купить</a></td>
    </tr>

    <tr class="b-ts__trade-item b-ts__trade-item_type_med">
      <td class="b-ts__icon"><img width="30px" height="30px" src="../../Content/Stylesheets/%d0%a1%d0%b5%d1%80%d1%82%d0%b8%d1%84%d0%b8%d0%ba%d0%b0%d1%82.jpg" alt="Сертификат" /></td>
      <td class="b-ts_description">Описание меда</td>
      <td class="b-ts__actions-wrapper"><a class="b-bs_action b-bs_action_type_buy" href="#" title="купить">Купить</a></td>
    </tr>
  </table>
</div><!--B: Buy stock-->

